    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font: 13px Helvetica, Arial;
    }
    
    form {
        background: #000;
        padding: 3px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    form input {
        border: 0;
        padding: 6%;
        width: 89%;
        font-size: 2em;
    }
    
    form button {
        background: rgb(130, 224, 255);
        padding: 6% 3%;
        display: block;
        float: right;
    }
    
    #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    #messages li {
        padding: 5px 10px;
        font-size: 2em;
    }
    
    #messages li:nth-child(odd) {
        background: #eee;
    }